#nav {
  list-style: none;
  display: flex;
  position: fixed;
}
#nav li {
  width: 140px;
  text-align: center;
  background-color: rgba(80, 80, 80, 0.7);
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}
#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}
.my_image-text {
  border: solid 1px;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 100px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}
.my_image-text.is-show {
  opacity: 1;
  visibility: visible;
}
.my_image {
  text-align: center; /*文字中央寄せ*/
  padding: 270px; /*余白*/
  border: solid 2px; /*枠線指定*/
}
.my_image {
  background-image: url(myphote.JPG);
  background-size: cover;
}
h1 {
  padding: 40px;
  font-size: 50px;
  text-align: center;
  border-bottom: solid 3px;
}
p {
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
}

h2 {
  padding: 40px;
  padding-top: 150px;
  font-size: 50px;
  text-align: center;
}

.soccer {
  text-align: center;
}
.music {
  padding: 40px;
  text-align: center;
}
